
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="formLogin" id="form">
        <h1>Login</h1>
        <div class="userData">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="exemplo00@gmail.com">

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="**************">
        </div>
        <div class="buttonsForm">
            <span id="msgError"></span>
            <button id="btnLogar">Login</button>
            <span>Não tem conta realize o <a href="/register">cadastro</a></span>
        </div>
    </div>
</body>
<script src="/js/users/login.js"></script>
</html>